* {

	font-family: Arial;
	background-color: brown;
	border-color: brown;
	border-opacity: 40%;
	box-shadow: 1px;
	border-width: 0px 0px 0px 0px;
	border-radius: 3px;
	color: black;
	margin: 0;

}

h1, h2 {

	padding-left: 29px;
	padding-right: 29px;

}

.header-container {
	
	background-color: black;
	color: orange;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;

}

.header-container:hover {
	
	color: tomato;

}

#main-header {

	background-color: black;
	margin: 9px 9px 9px 9px;
	padding: 9px 9px 9px 9px;
	color: orange;
	text-decoration: none;

}

#main-header:hover {
	color: tomato;
}

.body-container {

	margin: 5px auto 5px auto;
	padding: 2px;
	border-style: groove;
	border-width: 0px 0px 0px 0px;
	border-color: brown;
	width: 790px;
	height: 670px;

}

img.table-image {

	width: 785px;
	height: auto;
	margin-bottom: 10px;

}

img.lower-table-image {

	width: 155px;
	height: auto;

}


td {
	
	display: inline-block;
	float: left;
	

}

li {
	
	display: block;

}

legend {

	color: orange;
	font-weight: bold;
	background-color: black;
	border-radius: 4px;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;

}

.footer-container {

	margin-bottom: 10px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	opacity: 30%;
	float: right;
	text-align: left;
	content-align: left;
	font-size: 80%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;

	background-color: black;
	color: yellow;
	width: 100%;


}

.footer-container ul li, .footer-container ul li a {

	background-color: black;
	margin-right: 5px;
	float: right;
	text-align: space-between;
	color: orange;

}

textarea {
		
	border: ridge 4px;
	background-color: white;
	content-align: center;
	width: 175px;
}

input {

	background-color: white;
	border-style: double groove;
	border-width: 2px;
	border-radius: 4px;

}

.reservations {

	border-style: double double double double;
	border-weight: 2px 2px 2px 2px;
	float: center;

}

#submit {

	background-color: lightgray;

}

select {

	display: block;
	color: green;
	background-color: white;

}

.promo-list {

	width: 290px;
	border-width: 2px 2px 2px 2px; 
	border-style: double groove;
	display: inline;
	content-align: center;

}

ul li a {

	text-decoration: none;

}

#top-menu {

	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;


}

ul li a:hover {

	background-color: lightgray;
	border-radius: 3px;

}

.email-form {

	float: right;
	display: inline-block;
	content-align: space-between;
	width: inherit;


}

#email-header {

	float: center;
	text-align: left;
	display: inline-block;
	margin-top: 4px;
	
}

#fieldset {

	border-style: groove;
	border-width: 2px 2px 2px 2px;
	content-align: center;

}

p {

	font-size: 60%;
	opacity: 65%;
	padding-right: 5px;
	float: right;

}

.dropdown:hover .dropdown-content {

	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	color: orange;

}

 #header-container, .dropdown:hover .dropdown-button, .dropdown:hover {

	color: tomato;
	position: fixed;
	float: left;

}

.dropdown-button { 
	
	color: orange;
	border-radius: 0px 0px 0px 0px;
	opacity: 90%;
	background-color: black;

}

.dropdown-content {

	display: none;
	z-index: 10;
	position: absolute;
	color: orange;
	opacity: 90%;
	text-decoration: none;
	background-color: black;

}


.dropdown {

	display: inline-block;
	position: relative;
	background-color: black;
	text-decoration: none;
	float: left;
	color: orange;

}


a {

	text-decoration: none;
	color: orange;
	background-color: black;
	display: block;
	position: relative;

}

a:hover {

	color: tomato;
	position: relative; 
	display: inline;
	border-color: gray;
	margin-left: 0px;
	padding-left: 0px;
	border-style: solid;

}

#closebtn:hover {

	background-color: black;
	color: orange;
}

#closebtn {

	background-color: lightgrey;
	color: orange;

}







